.cover-image-upload img{
  height: 100%;
  width: 100%;
}

.image-upload img{
  height: 100%;
  width: 100%;
}

.user-image.col-md-2.js-img-preview img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}

.user-image.col-md-2 img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
